/**
 * @name Middle UI
 * @description Made with love <3
 * @author crppst
 * @version 1.0.0
 * @website https://github.com/creepypastaking
 */

:root {
  --notices-height: 36px;
  --serverlist-offset: var(--custom-guild-list-width);
  --HSL-server-direction: column;
  --HSL-server-alignment: flex-start;
  --wh-border-width: 4px;
  --wh-background-opacity: 0%;
}

.base__5e434[data-fullscreen=false] .content__5e434 {
  margin-top: var(--serverlist-offset);
  overflow: visible !important;
}

:fullscreen .content__5e434 { margin: 0 !important; }

#app-mount .sidebar__5e434 {
  border-radius: 0;
  overflow: visible !important;
}

#app-mount .guilds__5e434 {
  transform-origin: top left;
  rotate: -90deg;
  height: 100vw !important;
  bottom: unset;
  position: absolute !important;
  left: 0;
}

#app-mount .tree_ef3116 { padding-top: var(--HSL-top-padding, var(--size-sm)); }
#app-mount .wrapper_cc5dd2 { rotate: 90deg; }
#app-mount .notice__6e2b9 { height: var(--notices-height); }

#app-mount .itemsContainer_ef3116,
#app-mount .stack_dbd263 {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);
}

#app-mount .notice__6e2b9 + .content__5e434 {
  --serverlist-offset: calc(var(--notices-height) + var(--custom-guild-list-width));
}

.container__5e434 > div[style]:not(.base__5e434) {
  width: 100vw !important;
  height: var(--serverlist-offset) !important;
  position: absolute;
  top: calc(var(--serverlist-offset) + var(--custom-app-top-bar-height));
  pointer-events: none;
  z-index: 1;
}

.container__5e434 > div[style]:not(.base__5e434) .guilds__5e434 {
  pointer-events: all;
}

.container__5e434 > div[style]:not(.base__5e434) + .base__5e434 .content__5e434 {
  margin-top: calc(var(--serverlist-offset) * 2);
}

.visual-refresh section.panels__5e434 {
  left: 0 !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

nav.guilds__5e434 { margin-bottom: 0; }
.sidebar__5e434::after { display: none; }

.containerDefault__29444 > div {
  padding-left: 0.5em;
}

.containerDefault__29444 > div > div {
  display: flex;
  justify-content: start !important;
  flex-direction: row-reverse !important;
}

.avatarPopover__2d0ab,
.statusPopover__2d0ab,
.activityPopover__2d0ab { display: none; }

.icon_f34534.folderPreviewGuildIcon__48112 { border-radius: 50% !important; }

.descriptionClamp_f5f93a:not(.headerText_faa96b .descriptionClamp_f5f93a) {
  -webkit-line-clamp: unset;
  max-height: 400px;
}

.viewFullBio_f5f93a { display: none; }

span[class*="botTag"]:not([class*="botTagAi"], [class*="botTagCozy"], [class*="botTagRemix"], [class*="botTagOP"]) span[class*="botText"] {
  visibility: hidden;
  position: relative;
}

span[class*="botTag"]:not([class*="botTagAi"], [class*="botTagCozy"], [class*="botTagRemix"], [class*="botTagOP"]) span[class*="botText"]::after {
  content: "BOT";
  visibility: visible;
  position: absolute;
  left: 0;
  font-size: 0.625rem;
}

form > div.focusLock__49fc1 > div.rootWithShadow__49fc1 {
  width: var(--modal-width-medium);
}

.rootWithShadow__49fc1 .header__49fc1 {
  padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
  margin-bottom: var(--modal-vertical-padding);
  border-bottom: 1px solid var(--border-normal);
}

.header__49fc1 .colorHeaderPrimary_c9946a {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  flex-grow: 1;
}

.header__49fc1 .closeButton_e858dd {
  top: unset;
  right: var(--modal-horizontal-padding);
  margin: auto 0;
}

.closeButton_e858dd .contents__201d5 { height: 24px; }
.submissionWarning_e858dd { display: none; }

.formItem__1b11b .eyebrow_b717a1 { margin-bottom: 4px; }
.errorMessage_b717a1 { color: var(--text-danger); }
.input__0ed4f.error__0ed4f:focus { color: var(--text-normal); }

.visual-refresh button[aria-label="Select emoji"],
button[aria-label="Open GIF picker"],
button[aria-label="Send a gift"],
button[aria-label="Apps"] { display: none; }

.visual-refresh .buttons__74017 {
  align-items: center;
  gap: 0.1px;
}

[class*="gifFavoriteButton_"] { background-color: transparent; }
[class*="result_"] [class*="favButton"] { right: unset; }

.layerContainer__59d0d .positionLayer__08434 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.positionLayer__08434 .drawerSizingWrapper__08434 {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 90vw !important;
  height: 90vh;
}

.embedFull__623de {
  overflow: hidden;
  border-left-width: 0px !important;
  padding-left: 4px;
  border: none !important;
}

.embedFull__623de .embedSuppressButton__623de {
  opacity: calc(1 * var(--wh-always-show-suppress-embed-button)) !important;
  top: var(--wh-border-width);
  right: var(--wh-border-width);
  z-index: 10;
  color: white;
}

.embedFull__623de::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: inherit;
  border-left-width: 100vw;
  box-sizing: border-box !important;
  z-index: 1;
  border-radius: 0 8px 8px 0;
}

.embedFull__623de::after {
  content: "";
  position: absolute;
  background: hsl(from var(--background-surface-high) h s l / calc(100% - var(--wh-background-opacity)));
  border-radius: 8px;
  top: var(--wh-border-width);
  left: var(--wh-border-width);
  right: var(--wh-border-width);
  bottom: var(--wh-border-width);
  z-index: 2;
}

.embedFull__623de .gridContainer__623de { z-index: 3; }

.withAccentColor__60fa3::before { display: none; }

.withAccentColor__60fa3 {
  background: color-mix(in oklch, hsl(from var(--background-surface-high) h s l / 100%), var(--__accent-color) var(--wh-background-opacity));
  border: 4px solid var(--__accent-color);
}